doctype html
html
  head
    title Atish Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | ADC
            li #[a(href="/") Home]
            li #[a(href="/") Contact Us]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") About]
  
    block contact
    footer#footer
        div.copyright
          | All right are reserved @ AtishDanceAcademy.com